init:
  - git config --global core.autocrlf input

environment:
  matrix:
    - nodejs_version: 0.11
    - nodejs_version: 0.12
    - nodejs_version: 1
    - nodejs_version: 2

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

build: off

test_script:
  - node --version
  - npm --version
  - npm run cov
